# Ignore everything
*
!.gitignore
!docs/auth/page
!docs/cat/page
!docs/page/*
!docs/post/*
!docs/auth/*
!docs/cat/*
!docs/img/*
!docs/css/*
!docs/js/*
!docs/*
!docs/
/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
