@import url(https://fonts.bunny.net/css?family=lato:900|open-sans:400,700);

:root {
    --bs-body-font-family: "Open Sans", sans-serif;
    --bs-body-font-header: "Lato", sans-serif;
    --bs-primary-rgb: 125, 25, 50;
    --bs-link-color-rgb: rgb(var(--bs-primary-rgb));
    --bs-body-color: rgb(var(--bs-primary-rgb));
    --bs-pagination-bg: var(--bs-body-bg);
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
    font-family: var(--bs-body-font-header);
}

.h1 i, .h2 i, .h3 i, .h4 i, .h5 i, .h6 i,
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    line-height: inherit !important;
}

a,
.btn-primary {
    --bs-btn-active-border-color: rgb(var(--bs-primary-rgb));
    --bs-link-hover-color-rgb: rgb(var(--bs-link-color-rgb));
    --bs-btn-hover-border-color: rgb(var(--bs-primary-rgb));
    --bs-btn-border-color: rgb(var(--bs-primary-rgb));
    --bs-btn-active-bg: rgb(var(--bs-primary-rgb));
    --bs-btn-hover-bg: rgb(var(--bs-primary-rgb));
    --bs-btn-bg: rgb(var(--bs-primary-rgb));
    text-decoration-thickness: 0.05em;
    transition: 0.2s ease-in-out;
}

a[href]:hover,
.btn-primary:hover {
    opacity: .7;
}

.btn-primary {
    font-weight: bold;
}

img {
    max-width: 100%;
}

hr {
    border-color: rgb(var(--bs-primary-rgb));
    width: 100%;
}

pre, code, pre code {
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    text-align: justify;
}

blockquote {
    border-left: .5rem solid rgba(var(--bs-primary-rgb), .5);
    padding: 1rem 1.5rem 1rem 2rem;
    display: block;
}

blockquote>:last-child {
    padding: 0;
    margin: 0;
}

input,
select,
textarea,
.page-link {
    --bs-border-color: rgba(var(--bs-primary-rgb), .25) !important;
}

.pagination {
    box-shadow: 3px 3px 0 0 rgb(var(--bs-primary-rgb));
    border-radius: var(--bs-pagination-border-radius);
}

.pagination .page-link {
    --bs-pagination-color: rgb(var(--bs-link-color-rgb));
    border-color: rgb(var(--bs-primary-rgb)) !important;
    transition: .2s ease-in-out;
    user-select: none;
}

.pagination .page-item:not(.disabled)>.page-link:not(.disabled):hover {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
}

.pagination .active>.page-link, .page-link.active {
    background-color: rgb(var(--bs-primary-rgb)) !important;
    color: var(--bs-white) !important;
    pointer-events: none;
}

@keyframes appear {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.appear {
    animation: appear .5s forwards;
    opacity: 0;
}

.card {
    border-color: rgb(var(--bs-primary-rgb)) !important;
    box-shadow: 3px 3px 0 0 rgb(var(--bs-primary-rgb));
}

.card-header:only-child {
    border-radius: var(--bs-card-inner-border-radius);
}

#blogpost img,
#blogpost img ~ em {
    margin: 1.5rem auto 0;
    max-width: 100%;
    display: block;
}

#blogpost img ~ em {
    margin: .5rem auto 0;
    text-align: center;
    font-size: .85rem;
    max-width: 75%;
}

#comments span {
    word-break: break-all;
}

.loading {
    transition: .25s ease-in-out;
    filter: contrast(0.75);
    pointer-events: none;
    user-select: none;
    cursor: wait;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bs-link-color: var(--bs-white);
        --bs-body-color: var(--bs-white);
        --bs-body-bg: rgb(40, 0, 5);
    }

    hr {
        opacity: .625;
    }
}

@media (max-width: 499px) {
    .pagination {
        --bs-pagination-font-size: .5rem;
    }
}