@import url(https://fonts.bunny.net/css?family=lato:900|open-sans:400,700);

:root {
    --bs-body-font-family: "Open Sans", sans-serif;
    --bs-body-font-header: "Lato", sans-serif;
    --bs-primary-rgb: 125, 25, 50;
    --bs-link-color-rgb: rgb(var(--bs-primary-rgb));
    --bs-body-color: rgb(var(--bs-primary-rgb));
    --bs-pagination-bg: var(--bs-body-bg);
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
    font-family: var(--bs-body-font-header);
}

.h1 i, .h2 i, .h3 i, .h4 i, .h5 i, .h6 i,
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    line-height: inherit !important;
}

a,
.btn-primary {
    --bs-btn-active-border-color: rgb(var(--bs-primary-rgb));
    --bs-link-hover-color-rgb: rgb(var(--bs-link-color-rgb));
    --bs-btn-hover-border-color: rgb(var(--bs-primary-rgb));
    --bs-btn-border-color: rgb(var(--bs-primary-rgb));
    --bs-btn-active-bg: rgb(var(--bs-primary-rgb));
    --bs-btn-hover-bg: rgb(var(--bs-primary-rgb));
    --bs-btn-bg: rgb(var(--bs-primary-rgb));
    text-decoration-thickness: 0.05em;
    transition: 0.2s ease-in-out;
}

a[href]:hover,
.btn-primary:hover {
    opacity: .7;
}

.btn-primary {
    font-weight: bold;
}

img {
    max-width: 100%;
}

hr {
    border-color: rgb(var(--bs-primary-rgb));
    width: 100%;
}

pre, code, pre code {
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    text-align: justify;
}

blockquote {
    border-left: .5rem solid rgba(var(--bs-primary-rgb), .5);
    padding: 1rem 1.5rem 1rem 2rem;
    display: block;
}

blockquote>:last-child {
    padding: 0;
    margin: 0;
}

input,
select,
textarea,
.page-link {
    --bs-border-color: rgba(var(--bs-primary-rgb), .25) !important;
}

table,
thead,
tbody,
tr,
th,
td {
    border: 0;
}

tr {
    line-height: 1.8em;
}

.table-primary {
    --bs-table-bg: rgb(var(--bs-primary-rgb));
    --bs-table-color: var(--bs-white);
}

.table>:not(caption)>*>* {
    padding: .5rem 1.5rem;
}

.table tbody tr {
    border-bottom: 1px solid rgba(var(--bs-primary-rgb), .2);
}

.pagination {
    box-shadow: 3px 3px 0 0 rgb(var(--bs-primary-rgb));
    border-radius: var(--bs-pagination-border-radius);
}

.pagination .page-link {
    --bs-pagination-color: rgb(var(--bs-link-color-rgb));
    border-color: rgb(var(--bs-primary-rgb)) !important;
    transition: .2s ease-in-out;
    user-select: none;
}

.pagination .page-item:not(.disabled)>.page-link:not(.disabled):hover {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
}

.pagination .active>.page-link, .page-link.active {
    background-color: rgb(var(--bs-primary-rgb)) !important;
    color: var(--bs-white) !important;
    pointer-events: none;
}

.modal {
    --bs-modal-width: 768px;
}

.card,
.modal-content {
    border-color: rgb(var(--bs-primary-rgb)) !important;
    box-shadow: 3px 3px 0 0 rgb(var(--bs-primary-rgb));
}

.modal-header .btn-close {
    font-size: 1.5rem !important;
    transition: .2s ease-in-out;
    background: none !important;
    line-height: 1;
    opacity: 1;
    padding: 0;
}

.modal-header .btn-close:hover {
    opacity: .7;
}

.modal-header,
.modal-footer {
    border: none;
}

.form-control:disabled,
.form-select:disabled {
    background-color: rgba(var(--bs-primary-rgb), .25) !important;
    border-color: rgba(var(--bs-primary-rgb), .25) !important;
    cursor: not-allowed;
}

.form-control::placeholder {
    color: rgba(var(--bs-primary-rgb), .5) !important;
}

.form-control[type=file] {
    background: transparent !important;
    transition: .2s ease-in-out;
    width: min-content;
    border: 0;
}

.form-control[type=file]:hover {
    opacity: .7;
}

.form-control::file-selector-button {
    background-color: rgb(var(--bs-primary-rgb)) !important;
    border-radius: inherit;
    font-weight: bold;
    height: 38px;
    color: #fff;
}

[data-bs-toggle] {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

[data-bs-toggle]:hover {
    opacity: .7;
}

[data-bs-toggle] i[class*="fa"] {
    transition: 0.2s ease-in-out;
}

.modal-open [data-bs-toggle] i[class*="fa"][class*="chevron-down"] {
    transform: rotate(180deg);
}

.carousel button[class*="control"] {
    transition: .2s ease-in-out;
    width: fit-content;
    opacity: 1;
}

.carousel button[class*="control"]:hover {
    opacity: .7;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    background: initial;    
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}

.carousel-control-next-icon::after, 
.carousel-control-prev-icon::after {
    content: "\f053";    
    font-family: "Font Awesome 6 Free";
    color: rgb(var(--bs-primary-rgb));
    line-height: 2.5rem;
    text-align: center;
    position: absolute;
    font-weight: bold;
    font-size: 2.5rem;
    height: inherit;
    width: inherit;
    left: 0;
    top: 0;
}

.carousel-control-next-icon::after {
    content: "\f054";
}

.carousel img+a.btn.position-absolute {
    transition: opacity .2s ease-in-out;
    transform: translate(-25%, 25%);
    padding: 0.25rem 0.4rem;
    border-radius: 100%;
    font-size: .75rem;
    line-height: 1;
    z-index: 10;
    opacity: 0;
    right: 0;
    top: 0;
}

.carousel img:hover+a.btn.position-absolute {
    opacity: 1;
}

.carousel img+a.btn.position-absolute:hover {
    opacity: .7;
}

.carousel img {
    transition: .2s ease-in-out;
    object-fit: contain;
    cursor: pointer;
    width: 100%;
}

.carousel img:hover {
    opacity: .7;
}

#blogpost img,
#blogpost img ~ em {
    margin: 1.5rem auto 0;
    max-width: 100%;
    display: block;
}

#blogpost img ~ em {
    margin: .5rem auto 0;
    text-align: center;
    font-size: .85rem;
    max-width: 75%;
}

#comments span {
    word-break: break-all;
}

.loading {
    transition: .25s ease-in-out;
    filter: contrast(0.75);
    pointer-events: none;
    user-select: none;
    cursor: wait;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bs-link-color: var(--bs-white);
        --bs-body-color: var(--bs-white);
        --bs-body-bg: rgb(40, 0, 5);
    }

    hr {
        opacity: .625;
    }

    .form-select,
    .form-control {
        background-color: rgba(var(--bs-primary-rgb), .625) !important;
        border-color: rgba(var(--bs-primary-rgb), .625) !important;
    }

    .form-control::placeholder {
        color: rgba(var(--bs-white-rgb), .5) !important;
    }

    .table tbody tr,
    .form-check-input {
        border-color: rgba(var(--bs-primary-rgb), .625) !important;
    }
}

@media (max-width: 499px) {
    .pagination {
        --bs-pagination-font-size: .5rem;
    }
}