@import url(https://fonts.bunny.net/css?family=open-sans:400,700);
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme static {
  --site-width: 999px;
  --header-width: 1299px;
  --color-cta: #ffffff;
  --color-primary: #7a1122;
  --color-background: #280008;
  --font-open: 'Open Sans', sans-serif;
  --card-shadow: 3px 3px 0 0 var(--color-primary);
}

@utility interpolate-keywords {
  interpolate-size: allow-keywords;
}

@layer base {
  html {
    @apply bg-cta dark:bg-background interpolate-keywords font-open transition-colors;
  }

  body {
    @apply text-background dark:text-cta bg-size-[48px_48px] bg-fixed text-[17px] tracking-tighter transition-colors xl:bg-(image:--grid);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-[1.2] font-bold;
  }

  h1 {
    @apply text-[2.5rem];
  }

  h1 a {
    @apply no-underline! decoration-0!;
  }

  h2 {
    @apply text-[2rem];
  }

  h6 {
    @apply text-xl;
  }

  a {
    @apply cursor-pointer underline decoration-[.05em] underline-offset-1 transition-opacity hover:opacity-60;
  }

  a.btn {
    @apply bg-primary text-cta! ml-auto inline-block rounded-lg px-4 py-2 font-bold no-underline!;
  }

  blockquote {
    @apply border-primary/80 flex flex-col gap-y-4 border-l px-4 py-3;
  }

  blockquote p {
    @apply text-background/80 dark:text-cta/80;
  }

  button {
    @apply text-cta! flex cursor-pointer items-center justify-center font-bold *:transition-opacity hover:*:opacity-60 disabled:cursor-[initial];
  }

  button i {
    @apply text-[.65em];
  }

  checkbox {
    @apply border-primary bg-cta relative h-6 w-12 rounded-full border;
  }

  checkbox::after {
    @apply border-cta bg-primary absolute top-0 left-0 size-5.5 rounded-full border transition-all content-[""];
  }

  checkbox.active::after {
    @apply left-[calc(100%-22px)];
  }

  #post img {
    @apply mx-auto my-2 block;
  }

  #post img + em {
    @apply mx-auto mt-2 block w-11/12 text-center text-[.85em];
  }
}
